<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ResourceServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  	<listener>
		<listener-class>boot.Server</listener-class>
	</listener>
  
  <!-- router filter -->
  <filter>
  	<filter-name>rootFilter</filter-name>
  	<filter-class>router.RootFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>rootFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- resources download request -->
  <servlet>
  	<servlet-name>resourceRouter</servlet-name>
  	<servlet-class>router.ResourceRouter</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>resourceRouter</servlet-name>
  	<url-pattern>/res</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>adminRouter</servlet-name>
  	<servlet-class>router.AdminRouter</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>adminRouter</servlet-name>
  	<url-pattern>/admin</url-pattern>
  </servlet-mapping>
</web-app>